body{
    height: 100vh;
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/*
font-family: 'Jockey One', sans-serif;
*/

header{
    height: 142px;
}

main{
    flex-grow: 4;
}

footer{
    height: 36px;
}

::selection{
    background-color: var(--accent-color);
}
